[data-n-id="1"] rect,
[data-n-id="2"] rect {
  fill: #4a5167;
}

[data-n-id="1"] > text,
[data-n-id="2"] > text {
  fill: white;
  font-weight: 700;
}

[data-n-id*="hq"] > rect {
  fill: #c8cad3;
}
[data-n-id*="hq"] > text {
  fill: #4a5167;
  font-weight: 700;
}

[data-n-id*="manager"] > rect {
  fill: #f1f4fe;
}
[data-n-id*="manager"] > text {
  fill: #4a5167;
  font-weight: 700;
}
